{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h2 class="text-danger">❌ Paiement annulé</h2>
        <p>Le paiement a été annulé. Vous pouvez réessayer plus tard.</p>
        <a href="{{ path('panier_view') }}" class="btn btn-secondary mt-3">Retour au panier</a>
    </div>
{% endblock %}
